@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<Lib.Models.Message>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>In order to buy a product please </h3>

    <button><a asp-action="Registration" asp-controller="Authentification">Register</a></button>
    <button><a asp-action="SignIn" asp-controller="Authentification">Sign In</a></button>

    <br/>
</div>
@section scripts
    {
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script>
            setTimeout(function() {
        location.reload();
    }, 5000);
    </script>
}
